<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" th:object="${correctPersonalForm}"
          method="post">
        <!-- id -->
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <h4 th:for="name">이름: <span th:text="*{name}">message</span> </h4>
            <input type="hidden" th:field="*{name}" />
        </div>
        <div class="form-group">
            <label th:for="address">주소</label>
            <input type="text" th:field="*{address}" class="form-control"
                   placeholder="주소를 입력하세요"
                   th:class="${#fields.hasErrors('address')}? 'form-control
fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('address')}"
               th:errors="*{address}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="telephoneNumber">전화번호</label>
            <input type="text" th:field="*{telephoneNumber}" class="form-control"
                   placeholder="전화번호를 입력하세요"
                   th:class="${#fields.hasErrors('telephoneNumber')}? 'form-control
fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('telephoneNumber')}"
               th:errors="*{telephoneNumber}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="emailAddress">이메일주소</label>
            <input type="text" th:field="*{emailAddress}" class="form-control"
                   placeholder="이메일을 입력하세요"
                   th:class="${#fields.hasErrors('emailAddress')}? 'form-control
fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('emailAddress')}"
               th:errors="*{emailAddress}">Incorrect date</p>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">수정하기</button>
        &nbsp;&nbsp;
        <a href="/"class="btn btn-info">돌아가기</a>
    </form>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
