<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" type="button" th:onclick="|location.href='@{/member/register}'|">
                    회원 가입
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-dark btn-lg"
                        onclick="location.href='items.html'" th:onclick="|location.href='@{member/login}'|" type="button">
                    로그인
                </button>
            </div>
        </div>
        <br>
        <div th:if="${isRegisteringMemberSucceed != null}">
            <h3>회원 가입에 성공하셨습니다.</h3>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script>
function erase(id){
    if (confirm("정말 삭제하시겠습니까??") == true){    //확인
        var form = document.createElement("form");
        form.setAttribute("method", "get");
        form.setAttribute("action", "/erase/" + id);
        document.body.appendChild(form);
        form.submit();
    }else{   //취소
        return;
    }
}

function check(){
<!--    if(box.checked == true) {-->
<!--         -->
<!--    } else {-->
<!--         form.setAttribute("method", "get");-->
<!--        form.setAttribute("action", "redirect:/");-->
<!--    }-->
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    document.body.appendChild(form);
    form.submit();
}
</script>
</html>
